<%- include("partials/header") %>

<div class="user-profile">
  <img class="profile-image" src="<%= user.imageURL %>" alt="">
  <h1><%= user.username %></h1>
  <p><%= user.bio %></p>
  <button type="button" class="btn btn-outline-secondary profile-setting"><a class="no-link" href="/settings">Profile Setting</a></button>
</div>

<div class="user-body">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="/profile">My Articles</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/likedarticles">Liked Articles</a>
    </li>
  </ul>
</div>

<% posts.forEach(function(post){ %>
<% post.likedUsers.forEach(function(likeduser){ %>
<% if(likeduser.username === user.username){ %>
<% users.forEach(function(userr){ %>
<%  if(userr.username === post.author){ %>
<div class="note">
  <img class="article-profile" src="<%= userr.imageURL %>" alt="">
  <a class="profile-text-title" href="/userprofile/<%= post.author %>"><%=post.author%></a>
  <button class="btn btn-outline-danger author-button favourite like-button active" type="button" name=<%= post._id %>><i class="fas fa-heart" name="<%= post._id %>"> <%= post.likedUsers.length %></i></button>
  <p style="margin-bottom:7px"><%= post.dateCreated %></p>
  <h3 class="title"><%= post.title %></h3>
  <p><%= post.content.substr(0,300)+"..." %> </p>
  <a href="/readmore/<%=post._id%>">Read More</a>
</div>
<%  }                                    %>

<% }); %>
<%  } %>
<%  }); %>


<% }); %>

<%- include("partials/footer") %>
