<%- include("partials/header") %>

<div class="post-profile">
  <h1><%=post.title %></h1>
  <div class="">
    <img class="article-profile" src="<%= author.imageURL %>" alt="">
    <a class="profile-text-title" href="/userprofile/<%=author.username%>"><%=author.username%></a>
    <button type="button" class="btn btn-outline-secondary author-button">+ Follow Author</button>
    <button type="button" class="btn btn-outline-danger author-button">🤍 Like article</button>
  </div>
</div>

<div class="post-content">
  <p><%=post.dateCreated%></p>
  <p><%=post.content %></p>
  <hr>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- <script src="index.js" charset="utf-8"></script> -->
</body>
</html>
